target/test-classes/restapi.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:apikit="http://www.mulesoft.org/schema/mule/apikit" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:spring="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-current.xsd
http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/apikit http://www.mulesoft.org/schema/mule/apikit/current/mule-apikit.xsd">
    <flow name="restapi-main">
        <http:listener config-ref="restapi-httpListenerConfig" path="/api/*" doc:name="HTTP" />
        <apikit:router config-ref="restapi-config" doc:name="APIkit Router" />
        <!--   <exception-strategy ref="restapi-apiKitGlobalExceptionMapping" doc:name="Reference Exception Strategy" /> -->
    </flow>
    <!-- <flow name="restapi-console">
        <http:listener xmlns:http="http://www.mulesoft.org/schema/mule/http" config-ref="restapi-httpListenerConfig" path="/console/*" doc:name="HTTP"/>
        <apikit:console xmlns:apikit="http://www.mulesoft.org/schema/mule/apikit" config-ref="restapi-config" doc:name="APIkit Console"/>
    </flow> -->
    <flow name="get:/unitedFlightsByDestination:restapi-config">
        <logger message="Request receieved by unitedFlightsByDestination-queryparams" level="INFO" doc:name="Logger" />
        <flow-ref name="unitedflightsbydestination-queryparams-Flow" doc:name="unitedflightsbydestination-queryparams-Flow" />
        <logger message="fnal reponse............... #[payload]" level="INFO" doc:name="Logger" />
    </flow>
    <flow name="get:/unitedFlightsByDestination/{destination}:restapi-config">
        <logger message="Request received by unitedFlightsByDestination-uriparams" level="INFO" doc:name="Logger" />
        <flow-ref name="unitedflightsbydestination-uriparamsFlow" doc:name="unitedflightsbydestination-uriparamsFlow" />
        <logger message="final reponse............. #[payload]" level="INFO" doc:name="Logger" />
    </flow>
    <flow name="get:/deltaFlightsByDestination:restapi-config">
        <logger level="INFO" doc:name="Logger" />
        <flow-ref name="deltaflightsbydestination-queryparamsFlow" doc:name="deltaflightsbydestination-queryparamsFlow" />
        <logger level="INFO" doc:name="Logger" />
    </flow>
     <flow name="get:/listAllFlightsByDestination:restapi-config">
        <logger message="Request received by listAllFlightsByDestination" level="INFO" doc:name="Logger"/>
        <flow-ref name="listallflightsbydestinationFlow" doc:name="Flow Reference"/>
     
      
    </flow>
    <apikit:mapping-exception-strategy name="restapi-apiKitGlobalExceptionMapping">
        <apikit:mapping statusCode="404">
            <apikit:exception value="org.mule.module.apikit.exception.NotFoundException" />
            <set-property propertyName="Content-Type" value="application/json" doc:name="Property" />
            <set-payload value="{ &quot;message&quot;: &quot;Resource not found&quot; }" doc:name="Set Payload" />
        </apikit:mapping>
        <apikit:mapping statusCode="415">
            <apikit:exception value="org.mule.module.apikit.exception.UnsupportedMediaTypeException" />
            <set-property propertyName="Content-Type" value="application/json" doc:name="Property" />
            <set-payload value="{ &quot;message&quot;: &quot;Unsupported media type&quot; }" doc:name="Set Payload" />
        </apikit:mapping>
        <apikit:mapping statusCode="406">
            <apikit:exception value="org.mule.module.apikit.exception.NotAcceptableException" />
            <set-property propertyName="Content-Type" value="application/json" doc:name="Property" />
            <set-payload value="{ &quot;message&quot;: &quot;Not acceptable&quot; }" doc:name="Set Payload" />
        </apikit:mapping>
        <apikit:mapping statusCode="400">
            <apikit:exception value="org.mule.module.apikit.exception.BadRequestException" />
            <set-property propertyName="Content-Type" value="application/json" doc:name="Property" />
            <set-payload value="{ &quot;message&quot;: &quot;Bad request&quot; }" doc:name="Set Payload" />
        </apikit:mapping>
    </apikit:mapping-exception-strategy>
   
</mule>
